<nav class="navbar navbar-expand-lg navbar-light bg-danger navbar-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("index","movie")">
            <img src="~/ThemeFiles/img/logo.png" width="30" height="30" alt="" class="mr-1">
            Özlem Bilgisayar
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a id="movie-index" class="nav-link" href="@Url.Action("index","movie")">Filmler</a>
                </li>
                <li class="nav-item">
                    <a id="movie-latestMovies" class="nav-link" href="@Url.Action("latestmovies","movie")">Yeni Çıkan Filmler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="http://yasinaksu.net/">by Yasin Aksu</a>
                </li>
            </ul>
            @using (Html.BeginForm("search", "movie", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0 mr-2",autocomplete="off" }))
            {
                <input name="q" class="form-control mr-sm-2" type="search" placeholder="Film ara" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            }            
            <!-- Example single danger button -->
            <div class="btn-group">
                <button id="btnOpenShoppingCart" type="button" class="btn btn-outline-light">                   
                    <i class="fa fa-shopping-cart mr-1"></i>
                    Sepetim
                </button>
                <a href="@Url.Action("Login","Account",new { area="AdminPanel"})" class="btn btn-outline-light">
                    <i class="fa fa-user mr-1"></i>
                    Giriş yap
                </a>
            </div>
        </div>
    </div>
</nav>

