<footer class="fixed-bottom navbar navbar-dark bg-danger">
    <div class="container text-center">
        <span class="navbar-text">
            © 2020 Copyright
        </span>
        <span class="navbar-nav nav-item">
            <a href="http://yasinaksu.net" class="nav-link active" target="_blank"> Created by Yasin Aksu</a>
        </span>
    </div>
</footer>
